{% extends "base.html" %} {% block extends %}

<h3>Hi {{message.fullname}}</h3>
<div class="content" style="width: 100%">
  <p>
    Chúng tôi nhận được yêu cầu đổi mật khẩu từ bạn, nhấp vào bên dưới để đổi
    mật khẩu
  </p>
  <div class="btn" style="width: 100%; text-align: center">
    <a style="text-decoration: none" href="{{message.href}}">
      <button
        style="
          padding: 15px 20px;
          background-color: #5865f2;
          color: white;
          border: none;
          border-radius: 5px;
          margin: auto;
          cursor: pointer;
        "
      >
        Reset Password
      </button>
    </a>
  </div>
</div>

{% endblock %}
