.width100 {
    width: 100%;
}
.margin-auto {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
}
.content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
    width: 100%;
}
.btn a {
    text-decoration: none;
}
.btn a button {
    padding: 10px 20px;
    background-color: #5865f2;
    color: white;
    border: none;
    border-radius: 10px;
}
